body {
  background-color: rgb(76, 67, 112);
}

.container {
  max-width: 400px;
}

input[type='text'],
input[type='text']:focus {
  color: rgb(216, 222, 227);
  border: none;
  background: rgb(119, 98, 202);
  max-width: 400px;
}

.todos li {
  background: rgb(75, 75, 139);
}

.todo-label {
  cursor: pointer;
}

.todo-label span.done {
  text-decoration: line-through;
  opacity: 0.65;
}

.delete-btn {
  cursor: pointer;
  font-size: 1.1rem;
  line-height: 1;
}

.delete-btn:hover {
  opacity: 0.8;
}

.filtered {
  display: none !important;
}
